.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #1f2328;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #373f4f;
  font-size: 8rem;
  color: #7362c2;
}
h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #373f4f;
  font-size: 4rem;
  color: #7362c2;
}



p {
  font-size: 2rem;
  color: #5689a9;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  font-size: 1.5rem;
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
